<launch>
	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
	<arg name="is_sim"  default="true" doc="true if running in simulator, false if running on real Turtlebot hardware"/>
	<arg name="x_pos" default="-2.2"/>
	<arg name="y_pos" default="0.4"/>
	<arg name="z_pos" default="0.05"/>

	<env name="GAZEBO_MODEL_PATH" value="$(find rbe3002_final)/models:$(optenv GAZEBO_MODEL_PATH"/>

	<group if="$(arg is_sim)">
		<include file="$(find rbe3002-turtlebot)/launch/turtlebot3002_world.launch">
			<arg name="world_name" value="$(find rbe3002_final)/worlds/final_maze.world"/>
			<arg name="x_pos" value="$(arg x_pos)"/>
			<arg name="y_pos" value="$(arg y_pos)"/>
			<arg name="z_pos" value="$(arg z_pos)"/>
		</include>
	</group>

	<!-- If not is_sim, run the bringup for a turltebot3 -->
	<group unless="$(arg is_sim)">
		<include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch" />
			<arg name="model" value="$(arg model)"/>
	</group>

	<!--Run the Map Server-->
  	<node name = "map_server" pkg = "map_server" type = "map_server" args ="$(find rbe3002_lab3)/src/nodes/mymap.yaml"/>

	<include file="$(find turtlebot3_navigation)/launch/amcl.launch">
		<arg name="initial_pose_x" value="$(arg x_pos)"/>
		<arg name="initial_pose_y" value="$(arg y_pos)"/>
  	</include>

	<!--<param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />-->



  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)"/>
  </include>
  
  <!--Run the tranformer to set the center of the odom frame to the map frame-->
  <node name="static_transform_publisher" type="static_transform_publisher" pkg="tf" args="0 0 0 0 0 0 /map /odom 1000"/>

  <!--Launch RViz with custom config file used for lab3-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rbe3002_lab3)/launch/turtlebot3_gazebo_model_lab4b.rviz"/>

</launch>
