<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="is_sim" default="true" doc="true if running in simulator, false if running on real Turtlebot hardware"/>
  <arg name="x_pos" default="0.40"/>
  <arg name="y_pos" default="0.4"/>
  <arg name="z_pos" default="0.05"/>
  <arg name="maze"  default="maze2" />

  <!-- If is_sim, run the simulator! -->
  <group if="$(arg is_sim)">
    <include file="$(find rbe3002-turtlebot)/launch/turtlebot3002_world.launch">
      <arg name="world_name" value="$(find rbe3002_final)/worlds/final_maze.world"/>
      <arg name="model" value="$(arg model)"/>
      <arg name="x_pos" value="$(arg x_pos)"/>
      <arg name="y_pos" value="$(arg y_pos)"/>
      <arg name="z_pos" value="$(arg z_pos)"/>
      <!--<arg name="maze" value="$(arg maze)"/>-->
    </include>
  </group>
  
  <!-- If not is_sim, run the bringup for a turltebot3 -->
  <group unless="$(arg is_sim)">
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch" />
  </group>

  <!--node pkg="tf" type="static_transform_publisher" name="camera_tf" args="-1.95 -0.55 2.0 -1.58 0 -1.58 /odom /camera_link 100"/>-->

  <!--gmapping. We don't need mapserver if gmapping is running -->
  <!--NOTE: Set opeb_rviz config to false to use our config file -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" >
    <arg name='open_rviz' value='False'/>
  </include>

  <!-- AMCL -->
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>

  <!--Run the tranformer to set the center of the odom frame to the map frame-->
  <!--<node name="static_transform_publisher" type="static_transform_publisher" pkg="tf" args="0 0 0 0 0 0 /map /odom 100"/>-->
  
  <!--<env name="GAZEBO_MODEL_PATH" value="$(find RBE3002_template)/models:$(optenv GAZEBO_MODEL_PATH"/>
  <include file="$(find rbe3002-turtlebot)/launch/turtlebot3002_world.launch">
    <arg name="world_name" value="$(find RBE3002_template)/worlds/$(arg maze).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="x_pos" default="$(arg x_pos)"/>
    <arg name="y_pos" default="$(arg y_pos)"/>
    <arg name="z_pos" default="$(arg z_pos)"/>
  </include>-->

  <!--Launch RViz with custom config file used for lab4-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rbe3002_lab3)/launch/turtlebot3_gazebo_model_lab4a.rviz"/>

  <!--Launch Path Planner Node for lab 4-->
  <node name='path_planner' pkg='rbe3002_lab3' type='path_planner_lab4.py'/>

  <!--TODO: Launch motion node and any other required ones-->
  <!--TODO: Configure nodes for path planning and the lab 2 motion node-->

</launch>